.nameList {
    border-spacing: 0;
    border-collapse: collapse;
}

.nameList__head {
    text-align: left;
}

.nameList__row {
    border: 1px dotted;
}

.nameList__row:nth-child(even) {
    background-color: aliceblue;
}

.nameList__row:nth-child(odd) {
    background-color: antiquewhite;
}

.nameList__row:hover {
    color: #fff;
    background-color: rgba(255,0,0,.6);
    cursor: pointer;
}

.nameList__row--active {
    color: #fff;
    background-color: red !important;
    cursor: pointer;
}

.nameRowActionButtons{
   text-align: center;
}

.nameRowActionButtons__edit,
.nameRowActionButtons__delete {
    height: 30px;
    padding: 0px 5px;
    margin: 0 5px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.nameRowActionButtons__delete {
    color: red;
    font-weight: bold;
}